<template>
	<div >
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>
					Cancelamento de Um Evento
				</h4>
			</div>
			<div class="panel-body">
				<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
					<div class="image">
						<img :src="'/images/event/' + this.event.image_id ">
					</div>
				</div>
				<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
					<h3 align="center">{{ this.event.name}}</h3>
					<h5 align="left"><b>Inicio:</b> {{ this.event.initDate }}</h5>
					<h5 align="left"><b>Fim:</b> {{ this.event.finishDate }}</h5>

					<h5 align="left"> 
						<p>{{ this.event.spaceName }}</p>
						<p>{{ this.event.address }}</p>
					</h5>
					<h5 align="left"><b>Categoria: </b>{{ this.event.categoryName }}</h5>
					<h5 align="left"><b>Etiquetas:</b><span v-for="item in this.event.tags">{{ ' #' + item }}</span>
					</h5>


				</div>
			</div>
			<div class="panel-body">
				
				<form class="form-horizontal" role="form">
					<div class="form-group required">
						<h4 class="header col-md-5">Razão de Cancelamento:</h4>
						<div>
							<span v-if="this.wordLimit || this.errors.length != ''"
							class="help-block col-md-offset-1 col-md-11 col-xs-12 error-span">
							<strong>{{this.errors || "A razão de cancelamento não poderá exceder os 500 carateres!" }}</strong></span>
						</div>
						<textarea name="ticketSaleDescription" rows="5" v-model="cancelReason" placeholder="Razão por detrás do cancelamento (...)">
						</textarea>

					</div>

				</form>
			</div>
			<div class="panel-body" align="center">
				<button @click="cancelEvent" id="rightButton" class="button is-large is-success " :disabled="this.wordLimit">Cancelar Evento</button>
				<button @click="cancelOperation" class="button is-large is-danger">Cancelar Operação</button>
			</div>
		</div>
	</div>
</template>

<script type="text/javascript">
	export default {

		props: ['event_data'],

		created() {

			this.event = JSON.parse(this.event_data);
			this.initAlertifyPlugin();
			this.loadTextAreaPlugin();

		},
		mounted () {
			console.log('Event Cancel Component Mounted');
		},

		data () {
			return  {
				event: undefined,
				cancelReason: "",
				errors: ""
			}
		},

		computed: {
			wordLimit: function() {
				return this.cancelReason.length > 500;
			}
		},

		methods : {

			loadTextAreaPlugin(){
				var autosize = require("autosize");
				autosize($('textarea'));
			},

			initAlertifyPlugin(){

				alertify.defaults.transition = "slide";
				alertify.defaults.theme.ok = "button is-primary is-large";
				alertify.defaults.theme.cancel = "button is-danger is-large";
				alertify.set('notifier', 'position', 'top-right');
				alertify.defaults.maintainFocus = false;
			},

			cancelOperation(){

				window.location = '/promotorView/advertised';
			},

			performReasonCheck(){

				this.errors = "";
				if(!this.cancelReason.trim())
				{
					this.errors = 'Por favor indique qual a razão do cancelamento do evento';
					
					return false; 
				}
				else{
					if(this.cancelReason.length < 10)
					{
						this.errors = 'A razão fornecida deverá ter mais de 10 carateres';

						return false;
					}
					else{

						if(this.cancelReason.length > 500)
						{
							this.errors = 'A razão fornecida deverá não deverá ter mais de 500 carateres';
						}
						else{
							return true;
						}

						
					}
				}
			},

			cancelEvent(){
				
				if(this.performReasonCheck())
				{
					const instance = this;
					alertify.confirm("Cancelamento de um Evento", 
						"Tem a certeza que pretende cancelar este evento? Uma vez cancelado um evento não poderá voltar ao estado anterior!", 
						function(){ 
							axios.post('/event/cancel/' + instance.event.id, { reason: instance.cancelReason })
							.then(response => {
								alertify.alert('Cancelamento de Um Evento', 'Evento cancelado com sucesso!',
									function() {
										console.log('ok');
										window.location.href = '/promotorView/canceled';
									});
							})
							.catch(errors => {

								window.scrollTo(0, 0);

								alertify.alert('Cancelamento de Um Evento','O Formulário Contem Erros. Por Favor Reveja-o e Tente Novamente', 
									function() {
										console.log(errors.response.data);
									});
							});           
						}, 
						function(){})
					.set('labels', {ok:'Sim', cancel:'Não'});
				}
			}
		}

	}
</script>

<style type="text/css">

	div.image img {
		position: relative;
		width: 100%;
		height: auto;
	}

	textarea {
		margin-top: 10px;
		margin-left:5%;
		min-width: 90%;
		width: 90%;
		max-width: 90%;
		max-height: 500px;
	}

	#rightButton {
		margin-left:20px;
	}

	.form-group.required .header:after { 
		content:"*";
		color:red;
		font-size: 125%;
	}

	.error-span {
		color:#ff4d4d;
	}



</style>