<template>
	<div id="list-holder">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="list-group-item">
				<div class="sort-by list-item">
					<label>Ordenar Por</label>
					<select @change="selectOrder($event)">
						<option value="name" :selected="searchOptions.orderByParam == 'name'">Nome</option>
						<option value="initDate" :selected="searchOptions.orderByParam == 'initDate'">Data do Evento</option>
						<option v-if="purpose == 'orders'" value="created_at" :selected="searchOptions.orderByParam == 'created_at'">Data da Compra</option>
						<option v-if="purpose == 'orders'" value="ammount" :selected="searchOptions.orderByParam == 'ammount'">Custo da Compra</option>
						<!--<option value="proximity" :selected="searchOptions.orderByParam == 'proximity'">Proximidade</option>-->
					</select>
					<a :title="order.name" class="clickable" @click.prevent="changeOrder()"><i :class="order.class"></i></a>
				</div>
			</div>

			<div v-if="loading">
				<div id="no-content-holder" class="list-group-item list-group-item-action align-items-start">
					<div class="listItem">
						<div>
							<h3>[ A Carregar ]</h3>
							<div id="loader-container">
								<div class="loader"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div v-else-if="events.length == 0">
				<div id="no-content-holder" class="list-group-item list-group-item-action align-items-start">
					<div class="listItem">
						<div >
							<h3><strong>Oops!!</strong></h3>
							<h4>Não Existem Eventos Para Mostrar</h4>
						</div>
					</div>
				</div>
			</div>
			<div v-else>

				<div v-if="purpose == 'promotor'">
					<promotor-event v-for="event in events" :event="event"></promotor-event>
				</div>
				<div v-else-if="purpose == 'following'">
					<following-event v-for="event in events" @followTrigger="followTrigger($event)" :event="event"></following-event>
				</div>
				<div v-else-if="purpose == 'tickets'">
					<ticket-event v-for="event in events" :event="event"></ticket-event>
				</div>
				<div v-else-if="purpose == 'orders'">
					<order v-for="order in events" :order="order"></order>
				</div>
				<div v-else>
					<event v-for="event in events" :event="event"></event>
				</div>
				<div class="pagination-wrapper">
					<nav aria-label="Page navigation example">
						<ul class="pagination">
							<li class="page-item">
								<a @click="getPage(1)" class="page-link clickable"
								>Primeira</a>
							</li>
							<li class="page-item" :class="paginator.currentPage == 1 ? 'disabled' : ''">
								<a @click="getPage(paginator.currentPage-1)" class="page-link clickable" 
								>Anterior</a>
							</li>

							<li v-for="page in paginator.displayedPages" 
							:class="paginator.currentPage == page ? 'active' :''" class="page-item">
							<a @click="getPage(page)" class="page-link clickable">{{page}}</a>
						</li>

						<li class="page-item" :class="paginator.currentPage == paginator.lastPage ? 'disabled' : ''">
							<a @click="getPage(paginator.currentPage+1)"
							class="page-link clickable">Seguinte</a>
						</li>
						<li class="page-item">
							<a @click="getPage(paginator.lastPage)" class="page-link clickable">Última</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>

</template>

<script>

	export default {

		props: ['events', 'paginator', 'searchOptions', 'loading', 'purpose'],

		mounted() {

			console.log("List-Items mounted");

			this.initializeIcons();

		},

		data () {
			return {

				order: {
					name: 'Ascendente',
					class: 'glyphicon glyphicon-arrow-down',
				},
			}
		},

		methods: {

			selectOrder(event) {
				this.$emit('orderByParam', event.target.value); 
			},

			initializeIcons(){

				if(this.searchOptions.orderByType == 'asc')
				{
					this.order.name='Ascendente';
					this.order.class='glyphicon glyphicon-arrow-down';
				}
				else{
					this.order.name='Descendente';
					this.order.class='glyphicon glyphicon-arrow-up';
				}

			},

			changeOrder() 
			{
				this.$emit('orderByType', this.changeIcon());
			},

			changeIcon(){

				if(this.searchOptions.orderByType == 'asc') {
					this.order.name='Descendente';
					this.order.class='glyphicon glyphicon-arrow-up';
					return 'desc';


				} else {
					this.order.name='Ascendente';
					this.order.class='glyphicon glyphicon-arrow-down';
					return 'asc';
					
				}
			},

			getPage(page){

				if(page >= 1 && page <= this.paginator.lastPage)
				{
					this.$emit('getPage', page);
				}
				
			}
		},

	}
</script>


<style>

	#list-holder{
		padding-top: 20px;
	}

	#no-content-holder{
		text-align: center;
		vertical-align: middle;
		cursor: default;
		height: 300px;
		margin-bottom: 50px;
	}

	#no-content-holder h3 {
		margin-top: 95px;
	}


	.pagination-wrapper {
		text-align: center;
	}

	.clickable{
		cursor: pointer;
	}


	/* list css */
	.sort-by {
		vertical-align: middle;
		text-align: right;
	}

	#loader-container{
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}
	.loader {
		display: block;
		margin: 0 auto;
		border: 16px solid #f3f3f3; /* Light grey */
		border-top: 16px solid #3498db; /* Blue */
		border-radius: 50%;
		width: 120px;
		height: 120px;
		animation: spin 2s linear infinite;
	}

	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}

</style>