<template>
	<div class="row">
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
						<div class="panel-heading changeBackground">
							<div class="panel-title sidebar">
								<a>Categorias <i class="caret"></i></a>
							</div>
						</div>
					</a>
					<div id="collapse1" class="panel-collapse collapse">
						<div class="panel-body sidebar overflowSidebar">
							<div class="category" v-for="category in categoryList" v-if="(category.id != 1) && (category.id != categoryList.length)">
								<label for="checkboxCategoryName" @click="addCategories(category.id)">
									{{ category.categoryName}}
								</label>
							</div>
						</div>
					</div>
					<div class="panel-footer sidebar" v-if='search.categoriesToSearch.length>0'>
						<p v-for="categoryId in search.categoriesToSearch">{{ categoryList[categoryId-1].categoryName }}<a class="delete" @click="removeCategories(categoryId)"></a></p>
					</div>
				</div>
				<div class="panel panel-default">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
						<div class="panel-heading changeBackground">
							<div class="panel-title sidebar overflowSidebar">
								<a>Etiquetas Mais Usadas <i class="caret"></i></a>
							</div>
						</div>
					</a>
					<div id="collapse2" class="panel-collapse collapse">
						<div class="panel-body sidebar">
							<div class="category" v-for="(tag, index) in tagsList">
								<label for="checkboxCategoryName" @click="addTags(index)">
									{{ tag.tag }}
								</label>
							</div>
						</div>
					</div>
					<div class="panel-footer sidebar" v-if='search.tagsToSearch.length>0'>
						<p v-for="tagIndex in selectedTags">{{ tagsList[tagIndex].tag }}<a class="delete" @click="removeTags(tagIndex)"></a></p>
					</div>
				</div>
				<div class="panel panel-default">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
						<div class="panel-heading changeBackground">
							<div class="panel-title sidebar">
								<a>Intervalo de Datas <i class="caret"></i></a>
							</div>
						</div>
					</a>
					<div id="collapse3" class="panel-collapse collapse">
						<div class="panel-body sidebar">
							<label class="col-md-12 control-label">Depois de:</label>
							<div class='col-md-12'>
								<input id='initDate' name="initDate" type='text' class="form-control" @focusout="onFocusOut()" />
							</div> 
							<div>
								<label class="col-md-12 control-label">Antes de:</label>
								<div class='col-md-12'>
									<input id='finishDate' name="finishDate" type='text' class="form-control" @focusout="onFocusOut()"/>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-footer sidebar" v-if="search.dateInit != '' || search.dateFinish != ''">
						<p v-if="search.dateInit != ''">Depois de: {{ this.convertDate(search.dateInit) }} 
							<a class="delete" @click="clearDate(0)"></a>
						</p>
						<p v-if="search.dateFinish != ''">Antes de: {{ this.convertDate(search.dateFinish) }}
							<a class="delete" @click="clearDate(1)"></a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
			
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 searchArea">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 nopadding">
					<input  @keyup.enter="requestEvents" type="text" name="searchText" placeholder="Escreva o que deseja procurar!" max-length="50" class="searchAreaField form-control" v-model="search.searchText">
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 nopadding">
					<select class="form-control searchAreaField" v-model="search.district_id" @change="updatePagination(1)">
						<option v-for="item in districtsList" :value="item.id" :selected="item.id == search.district_id">
							{{item.name}}
						</option>
					</select>
				</div>
				<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 nopadding">
					<a class="button is-primary is-large searchAreaField" @click.prevent="updatePagination(1)">Search</a>	
				</div>
			</div>


			<event-list @orderByParam="orderByParam($event)" @orderByType="orderByType($event)" :events="events"
			:paginator="paginator" @getPage="updatePagination($event)" :searchOptions="search" 
			:loading="loading"></event-list>

		</div>
	</div>
</div>
</div>
</template>

<script>

	const Paginator = require('../../classes/paginator.js');

	export default {

		props: ['categories', 'districts', 'tags', 'base_url'],

		created(){
			this.categoryList = JSON.parse(this.categories);
			this.districtsList = JSON.parse(this.districts);
			this.tagsList = JSON.parse(this.tags);
			window.onhashchange = this.listenForURLChanges;
		},

		mounted () {
			console.log("List-Events mounted");

			this.loadBootstrapDatepicker();

			if(window.location.href.indexOf('#') != -1)
			{
				this.parseURL();
			}
			this.requestEvents();

		},

		data () {

			return {

				districtsList: [],

				categoryList: [],

				tagsList: [],

				selectedTags: [],

				eventsSearched: [],

				search: {
					searchText: '',
					district_id: 1,
					categoriesToSearch: [],
					tagsToSearch: [],
					dateInit: '',
					dateFinish: '',
					orderByParam: 'name',
					orderByType: 'asc',
				},

				paginator: new Paginator(),

				events: [],

				programmatic: false,

				loading: false,
			}
		},

		methods : {

			loadBootstrapDatepicker() {

				require('eonasdan-bootstrap-datetimepicker');
				var moment = require('moment');

				var options = {
					format: 'DD/MM/YYYY',
					locale: moment.locale('pt'),
					useCurrent:false,
					widgetPositioning:  {
						horizontal: 'auto',
						vertical: 'bottom'
					},

				}

				var instance = this;


				$(document).ready( function () {

					$('#initDate').datetimepicker(options);

					$('#finishDate').datetimepicker(options);

					$('#initDate').on('dp.change', function(e){
						instance.search.dateInit = e.date;
						$('#finishDate').data("DateTimePicker").minDate(e.date);

						instance.updatePagination(1);
					})

					$('#finishDate').on('dp.change', function(e){
						instance.search.dateFinish = e.date;
						$('#initDate').data("DateTimePicker").maxDate(e.date);

						instance.updatePagination(1);
					})

				})

			},

			// Categories Search

			addCategories(category) 
			{
				if (this.search.categoriesToSearch.includes(category)) {
					this.removeCategories(category);
				} else {
					this.search.categoriesToSearch.push(category);
					this.updatePagination(1);
				}
			},

			removeCategories(category) 
			{
				this.search.categoriesToSearch.splice(this.search.categoriesToSearch.indexOf(category), 1);
				this.updatePagination(1);
			},

			// Tags Search
			addTags(index) 
			{
				if (this.selectedTags.includes(index)) {
					this.removeTags(index);
					
				} else {
					this.selectedTags.push(index);
					this.search.tagsToSearch.push(this.tagsList[index].id);
					this.updatePagination(1);
				}
			},

			removeTags(index) 
			{
				this.search.tagsToSearch.splice(this.search.tagsToSearch.indexOf(this.tagsList[index].id), 1);
				this.selectedTags.splice(this.selectedTags.indexOf(index), 1);

				this.updatePagination(1);
			},

			requestEvents(){
				console.log(this.base_url);
				var instance = this;
				this.loading = true;
				axios.post(this.base_url + '?page=' + this.paginator.currentPage, this.search)
				.then( response => {
					console.log("Received Events");
					instance.loading=false;
					instance.events = response.data.data;
					instance.paginator
					.update(response.data.current_page, 
						response.data.total, 
						response.data.last_page);
				})
				.catch(error => {
					console.log(error);   
				});
			},

			clearDate(value) 
			{
				if (value == 0)
				{
					$('#initDate').val('');
					this.search.dateInit='';
				} else {
					$('#finishDate').val('');
					this.search.dateFinish='';
				}

				this.updatePagination(1);
			},

			convertDate(date) 
			{
				var data = new Date(date);

				return (data.getDate()<=9 ? ("0"+data.getDate()) : data.getDate()) +"/"+((data.getMonth()+1)<=9 ? "0"+(data.getMonth()+1) : data.getMonth()+1)+"/"+data.getFullYear();
			},

			updatePagination(page)
			{
				this.paginator.currentPage = page;
				this.updateURL();
			},

			orderByType(type)
			{
				
				this.search.orderByType = type;
				this.updatePagination(1);
				
			},

			orderByParam(param)
			{
				this.search.orderByParam = param;
				this.updatePagination(1);
			},

			updateURL(){

				var url = this.base_url + '#&orderBy='+ this.search.orderByParam
				+'&orderType=' + this.search.orderByType;

				if(this.search.categoriesToSearch.length > 0){
					this.search.categoriesToSearch.forEach(function(value, index){
						if(index == 0){
							url = url + '&cat=' + value;
						}
						else {
							url = url + '%' + value;
						}
					});
				}

				if(this.search.tagsToSearch.length > 0){
					this.search.tagsToSearch.forEach(function(value, index){
						if(index == 0){
							url = url + '&tag=' + value;
						}
						else {
							url = url + '%' + value;
						}
					});
				}

				if(this.search.searchText != '') {
					url = url + '&search=' + this.search.searchText;
				}

				if(this.search.district_id > 1) {
					url = url + '&distr=' + this.search.district_id;
				}

				if(this.search.dateInit != '')
				{
					var data = new Date(this.search.dateInit);
					url = url + '&init=' + data.getDate()+"_"+(data.getMonth()+1)+"_"+data.getFullYear();
				}

				if(this.search.dateFinish != '')
				{
					var data = new Date(this.search.dateFinish);
					url = url + '&init=' + data.getDate()+"_"+(data.getMonth()+1)+"_"+data.getFullYear();
				}

				if(this.paginator.currentPage > 1)
				{
					url = url + '&?page=' + this.paginator.currentPage;
				} 

				this.programmatic = true;

				window.location.href = url;
				
			},

			listenForURLChanges(){
				console.log('Listener Triggered');
				if(!this.programmatic)
				{
					this.parseURL();
				}
				else{
					console.log('Entered not parse');
					this.requestEvents();
					this.programmatic = false;
				}
			},

			onFocusOut(){
				this.$forceUpdate();
			},

			parseURL(){
				console.log('Parsing URL');
				var href = window.location.href;
				var paramString = href.substring(href.indexOf('#'));

				if(paramString.length>1)
				{
					var params = paramString.split('&');

					this.paginator.currentPage = 1;
					
					for(let i = 1; i < params.length; i++){
						if(params[i].indexOf('orderBy') != -1)
						{
							this.search.orderByParam = params[i].substring(params[i].indexOf('=')+1);
						}
						else{
							if(params[i].indexOf('orderType') != -1)
							{
								this.search.orderByType = params[i].substring(params[i].indexOf('=')+1);

							}
							else{
								if(params[i].indexOf('cat') != -1)
								{
									this.search.categoriesToSearch = [];
									var cat = params[i].substring(params[i].indexOf('=')+1).split('%');
									for (let j = 0; j < cat.length; j++) {
										this.search.categoriesToSearch.push(cat[j]);
									}
								}
								else {
									if(params[i].indexOf('tag') != -1)
									{
										this.search.tagsToSearch = [];
										this.selectedTags = [];
										var instance=this;
										var tag = params[i].substring(params[i].indexOf('=')+1).split('%');
										for (let h = 0; h < tag.length; h++) {
											this.search.tagsToSearch.push(tag[h]);
											this.tagsList.forEach(function(value, index){
												if(value.id == tag[h]) {
													instance.selectedTags.push(index);
												}
											});
										}
									}
									else {
										if(params[i].indexOf('search') != -1) {
											this.search.searchText = params[i].substring(params[i].indexOf('=')+1)
										}
										else {
											if(params[i].indexOf('distr') != -1) {
												this.search.district_id = params[i].substring(params[i].indexOf('=')+1);
											}
											else {
												if(params[i].indexOf('init') != -1) {
													var data = params[i].substring(params[i].indexOf('=')+1).split('_');
													data[0] = parseInt(data[0]);
													data[1] = parseInt(data[1]);
													data[2] = parseInt(data[2]);
													this.search.dateInit = data[2]+"-"+(parseInt(data[1]) <= 9 ? ("0"+data[1]) : ""+data[1])+"-"+(parseInt(data[0]) <= 9 ? ("0"+data[0]) : ""+data[0]);
												}
												else {
													if(params[i].indexOf('finit') != -1) {
														var data = params[i].substring(params[i].indexOf('=')+1).split('_');
														data[0] = parseInt(data[0]);
														data[1] = parseInt(data[1]);
														data[2] = parseInt(data[2]);
														this.search.dateFinish = data[2]+"-"+(parseInt(data[1]) <= 9 ? ("0"+data[1]) : ""+data[1])+"-"+(parseInt(data[0]) <= 9 ? ("0"+data[0]) : ""+data[0]);
													}
													else {
														this.paginator.currentPage = params[i].indexOf('?page=') == -1 ? 1 :
														params[i].substring(params[i].indexOf('=')+1);
													}
												}
											}
										}
									}
								}

							}
						}

					}
					this.requestEvents();
				}
			}
		}
	}

</script>

<style>
	/* sidebar css */
	.panel-body.sidebar.overflowSidebar {
		max-height: 400px;
		overflow-y: auto;
	}

	div.category input {
		display: inline-block;
		padding-right: 5px;
	}

	div.category label {
		word-wrap: break-word;
	}

	div.category label:hover {
		cursor: pointer;
		text-decoration: underline;
	}

	div.panel-footer.sidebar p {
		word-wrap: break-word;
	}

	div.changeBackground:hover {
		background-color: #eff1f2;
	}

	div.panel-title.sidebar{
		color: black; 
		text-decoration: none !important;
	} 

	div.panel-title.sidebar:hover {
		color: black;
		text-decoration: none !important;
	}

	div.panel-footer.sidebar a {
		float: right;
	}

	/* list css */
	.sort-by {
		align-content: right;
		align-items: right;
		text-align: right;
	}

	/* Search Area */
	.searchArea {
		padding-bottom: 10px;
		color: black;
	}
	.searchAreaField {
		width: 100%;
	}
	.nopadding {
		padding: 5px;
		vertical-align: middle;
	}

	/* Pagination Area */


</style>