<template>
	<div class="col-sm-offset-1 col-sm-10 col-xs-12">
		<gmap-map @rightclick="setMapMarker" 
		:center="center" 
		:zoom="7"
		style="height: 400px">

		<gmap-marker v-if="marker != undefined" 
		:position="marker.position" 
		:opacity="marker.opacity"
		:draggable="false">
	</gmap-marker>

</gmap-map>

</div>
</template>

<script type="text/javascript">
	
	/** Load Map Plugin and Google Maps API Key **/

	import * as VueGoogleMaps from 'vue2-google-maps';

	Vue.use(VueGoogleMaps, {
		load: {
			key: 'AIzaSyAnR7sn6nP66TkUv0vj7TyTaMVgrx6GDik',
			v: '3.26',
		}
	});   

	export default{

		props: ['center', 'lat', 'lng', 'editable'],


		mounted(){
			console.log('Google Maps Component Mounted');
		},

		created(){

			if(this.lat && this.lng)
			{
				this.intializeMapMarker();
			}

		},

		data (){

			return {
				marker: undefined
			}
		},

		methods:{

			intializeMapMarker(){
				this.marker =this.createMarker(this.lat, this.lng);
			},

			setMapMarker(mouseArgs){
				console.log(this.editable);
				if(this.editable)
				{
					if(mouseArgs.latLng.lat() > -85.05116 && mouseArgs.latLng.lat() < 85.05116) {
						this.marker = this.createMarker(mouseArgs.latLng.lat(), mouseArgs.latLng.lng());
						this.$emit('setLocation', this.marker.position);
					}
				}

			},

			createMarker(lat, lng) {
				return {
					position: {
						lat: lat,
						lng: lng
					},
					opacity: 1,
					draggable: false,
					enabled: true,
				};

			},
		}

	}


</script>
<style type="text/css">
	.vue-map-container{
		position: static;
	}
</style>
