#authWrapper{
	margin-top:25px;
}

#facebookLogin{
	background-color: #4267b2;
	color: #ffffff;
	font-size: 12px;
	font-family: Helvetica, Arial, sans-serif;
	margin-left:1%;
}

#googleLogin{
	background-color: #db4437;
	color: #ffffff;
	font-size: 12px;
	font-family: Helvetica,Arial,sans-serif;
}

#socialLogins{
	width: 100%;
	text-align: center;
}

#socialLogins .btn {
	display: block;
}

.btn-link{
	font-size:12px;
}

.panel-body {
	margin-top: 14px;
}

h4 {
	margin-bottom: 20px;
}

input {
	margin-top:10px;
}

button {
	width: 45%;
	margin-left: 5%;
}

#register {
	width:45%;
	margin-left:5%;
}

#submit {
	margin-left:1%;
}

#socialh4{
	margin-top: 25px;
	margin-bottom:30px;
}

.socialBtn {
	width:45%;
	margin-left:5%;
}

