.listItem {
	position: relative;
	display: inline-block;
	width: 100%;
	height: auto;
}

.img {
	max-width: 100%;
	height: auto;
}

.list-group-item{
	margin-bottom: 2px;
}

#list-holder{
	margin-top: 20px;
}
