<template>
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<canvas id="statsAverage" width="400" height="400"></canvas>
		</div>
		<div class="col-md-6 col-xs-12">
			<canvas id="statsTotal" width="400" height="400"></canvas>
		</div>
	</div> 
</template>

<script>
	export default {
		props: ['promotor_stats_avg', 'promotor_stats_total'],

		created() {
			this.statsAverage = JSON.parse(this.promotor_stats_avg);
			this.statsTotal = JSON.parse(this.promotor_stats_total);
		},

		mounted() {
			this.loadGraphs();
		},

		data () {
			return  {
				statsAverage: {
					labels: [],
					text: '',
					data: [],
				},

				statsTotal: {
					labels: [],
					text: '',
					data: [],
				}
			}
		},

		methods : {
			loadGraphs() {
				var Chart = require('chart.js');

				// Average Graph
				var statsAverageElement = document.getElementById("statsAverage");
				var statsAverage = new Chart(statsAverageElement, {
					type: 'horizontalBar',
					data: {
						labels: this.statsAverage.labels,
						datasets: [{
							label: this.statsAverage.text,
							data: this.statsAverage.data,
							backgroundColor: 'rgba(0, 160, 0, 0.2)',
							borderColor: 'rgba(0, 160, 0, 1)',
							borderWidth: 1
						}]
					},
					options: {
						responsive: true,
						legend: {
							onClick: (e) => e.stopPropagation()
						},
						scales: {
							yAxes: [{
								ticks: {
									beginAtZero:true
								}
							}]
						}
					}
				});

				// Totals Graph
				var statsTotalElement = document.getElementById("statsTotal");
				var statsTotal = new Chart(statsTotalElement, {
					type: 'horizontalBar',
					data: {
						labels: this.statsTotal.labels,
						datasets: [{
							label: this.statsTotal.text,
							data: this.statsTotal.data,
							backgroundColor: 'rgba(1, 158, 255, 0.2)',
							borderColor: 'rgba(1, 158, 255, 1)',
							borderWidth: 1
						}]
					},
					options: {
						responsive: true,
						legend: {
							onClick: (e) => e.stopPropagation()
						},
						scales: {
							yAxes: [{
								ticks: {
									beginAtZero:true
								}
							}]
						}
					}
				});
			}
		}
	}
</script>

<style>


</style>