<template>
	<div class="row">
		<div class="panel panel-body">
			<form class="form-horizontal" role="form" method="POST">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div :class="editView ? 'col-md-12 col-sm-12 col-xs-12' : 'col-md-7 col-sm-7 col-xs-12' ">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<h2 align="center">{{ user.name }}</h2>
							<br>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12">
							<label :class="editView ? 'col-md-3 control-label' : 'col-md-4'" align="right">Data de Nascimento:</label>
							<div class="col-md-8"> 
								<div v-if="editView">
									<div class="form-group">
										<input id="birthdate" name="birthdate" type='text' 
										@focusout="onFocusOut('birthdate')" class="form-control" />
										<div class="col-md-offset-1 col-md-8">
											<span v-if="errors.has('birthdate')"
											class="help-block error-span">
											<strong>{{errors.get('birthdate')}}</strong></span>
										</div>
									</div>
								</div>
								<div v-else>
									<p class="control-text">{{ dateToString() }}</p>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12">
							<label :class="editView ? 'col-md-3 control-label' : 'col-md-4'" align="right">Genero:</label> 
							<div class="col-md-8"> 
								<div v-if="editView">
									<div class="form-group">
										<input v-model="newUser.gender" id="gender" type="radio" name="gender" value="M"> Masculino<br>
										<input v-model="newUser.gender" id="gender" type="radio" name="gender" value="F"> Feminino<br>
										<input v-model="newUser.gender" id="gender" type="radio" name="gender" value="O"> Outro<br>
										<input v-model="newUser.gender" id="gender" type="radio" name="gender" value=""> Não Definido
									</div>
								</div>
								<div v-else>
									<p>{{ genderToStr() }}</p>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12">
							<label :class="editView ? 'col-md-3 control-label' : 'col-md-4'" align="right">Email:</label> 
							<div class="col-md-8">
								<div v-if="editView">
									<div class="form-group control-text">
										<p>{{ user.email }}</p>	
									</div>
								</div>
								<div v-else>
									<p>{{ user.email }}</p>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12">
							<label :class="editView ? 'col-md-3 control-label' : 'col-md-4'" align="right">NIF:</label> 
							<div class="col-md-8">
								<div v-if="editView">
									<div class="form-group">
										<input id="nif" v-model="newUser.nif" type="text" class="form-control" name="nif">
										<div class="col-md-offset-1 col-md-8">
											<span v-if="errors.has('nif')"
											class="help-block error-span">
											<strong>{{errors.get('nif')}}</strong></span>
										</div>
									</div>
								</div>
								<div v-else>
									<p>{{ user.nif || defaultString }}</p>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12">
							<label :class="editView ? 'col-md-3 control-label' : 'col-md-4'" align="right">Distrito:</label> 
							<div class="col-md-8">
								<div v-if="editView">
									<div class="form-group">
										<select v-model="newUser.district" class="form-control">
											<option v-for="item in districtList"
											:value="item.id"
											:selected=" newUser.district == item.id">
											{{item.name}}</option>
										</select>
									</div>
								</div>
								<div v-else>
									<p>{{ user.district == 1 ? defaultString : districtList[user.district-1].name  }}</p>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12">
							<label :class="editView ? 'col-md-3 control-label' : 'col-md-4'" align="right">Morada:</label> 
							<div class="col-md-8">
								<div v-if="editView">
									<div class="form-group">
										<input id="address" v-model="newUser.address"type="text" class="form-control" name="address">
										<div class="col-md-offset-1 col-md-8">
											<span v-if="errors.has('address')"
											class="help-block error-span">
											<strong>{{errors.get('address')}}</strong></span>
										</div>
									</div>
								</div>
								<div v-else>
									<p>{{ user.address || defaultString }}</p>
								</div>
							</div>
						</div>
					</div>
					<div :class="editView ? 'col-md-12 col-sm-12 col-xs-12' : 'col-md-5 col-sm-5 col-xs-12' ">
						<div id="imageArea"v-if="editView" align="center">
							<file-upload v-if="!imageIsSet" @cropped="getCroppedImage($event)" :aspectRatio="1"
							:imageSource="this.newUser.profileImage"
							class="col-md-12 col-xs-12"></file-upload>
							<div v-else>
								<div id="cropped-div" class="col-md-12">
									<img id="cropped-image"
									:src="this.newUser.profileImage"
									alt="Cropped Image"/>
								</div>
								<div class="button-area">
									<button @click.prevent="imageIsSet = false;"id="btn-edit" class="button is-info is-large">
										Editar Imagem Novamente <span class="fa fa-pencil"></span>
									</button>
								</div>
							</div>
							<button id="defaultImageButton" @click.prevent="resetImage" class="button is-light is-large">Sem Imagem</button>
						</div>
						<div v-else>
							<img :src="user.profileImage" class="img-responsive" align="right">
						</div>
					</div>


					<div class="col-md-12 col-sm-12 col-xs-12">
						<hr>
						<label class="col-md-12"><b>Descrição</b></label>
						<div class="col-md-12">
							<div v-if="editView">
								<textarea name="description" rows="5" maxlength="1000" v-model="newUser.description">{{ newUser.description }}</textarea>
							</div>
							<div v-else>
								<p>{{ user.description || defaultString }}</p> 
							</div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">
						
						<div v-if="editView" class="col-md-12 col-sm-12 col-xs-12" align="right">
							<hr>
							<button @click.prevent="submitForm" class="button is-primary is-large">Gravar</button>
							<button @click.prevent="cancelEdit" class="button is-danger is-large">Cancelar</button>
						</div>
						<div v-else >
							<hr>
							<div>
								{{ defaultString + ' - Não Definido ' }}
								<button id="editButton" class="button is-large is-primary" @click.prevent="toogleViews">Editar Perfil</button>

							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</template>
<script type="text/javascript">

	const Errors = require('../../classes/errors.js');

	const User = require('../../classes/user.js');

	export default{

		props: ['auth_user', 'districts'],

		mounted(){
			console.log('User profile mounted!');
		},

		created() {
			this.user.parse(this.auth_user);
			this.districtList = JSON.parse(this.districts);

			this.initAlertify();
			this.loadTextAreaAutoSize();


			var instance = this;
			$(window).bind('beforeunload', function(e){

				if(!instance.sucess && !instance.canceled && instance.editView)
				{
					return false;
				}

			});
		},

		data(){

			return {
				districtList: undefined,
				user: new User(),
				newUser: new User(),
				errors: new Errors(),
				editView: false,
				imageIsSet: false,
				defaultString: 'N/D',
				cancel: false,
				success: false,
			}
		},

		methods : {

			genderToStr()
			{
				let genderStr='';

				switch (this.user.gender) {
					case 'M':
					genderStr="Masculino";
					break;
					case 'F':
					genderStr="Feminino";
					break;
					case 'O':
					genderStr="Outro";
					break;
					default: {
						this.user.gender = '';
						genderStr=this.defaultString;
					}
					
				}

				return genderStr;
			},



			dateToString()
			{
				if(this.user.birthdate == '')
				{
					return this.defaultString;
				}
				return (this.user.birthdate.getDate()<10 ? "0" : "") +this.user.birthdate.getDate()+"/"+((this.user.birthdate.getMonth()+1)<10 ? "0" : "")+(this.user.birthdate.getMonth()+1)+"/"+this.user.birthdate.getFullYear();
			},

			toogleViews()
			{
				this.editView = !this.editView;

				if(this.editView) {
					this.newUser = Object.assign({}, this.user);
					this.initDatepicker();
				}
			},

			getCroppedImage(image)
			{
				this.newUser.profileImage = image;
				this.imageIsSet = true;
			},

			resetImage()
			{
				var instance = this;
				alertify.confirm("Remoção de Imagem de Perfil", 
					"Tem a certeza que pretende remover a imagem de perfil?<br>Nota: A sua imagem anterior será perdida e substituida por uma padrão!", 
					function(){ 
						instance.newUser.profileImage = '/images/profile/default.jpg';
						instance.imageIsSet = true;}, 
						function(){   })
				.set('labels', {ok:'Sim', cancel:'Não'});
			},

			onFocusOut(field){
				this.errors.clear(field);
			},

			submitForm () {

				var instance = this;


				if (this.newUser.profileImage==this.user.profileImage)
				{
					this.newUser.profileImage = null;
				}
				else {
					if(this.newUser.profileImage == '/images/profile/default.jpg') {
						this.newUser.profileImage = 'DEFAULT';
					}
				}

				axios.post('/user/personal/profile/update', this.newUser)
				.then(response => {
					instance.sucess = true;

					alertify.alert('Formulário de Edição de Perfil', 'Perfil alterado com Sucesso!',
						function(){
							instance.success = true;
							window.location.href = '/user/personal/profile';
						});
				})
				.catch(errors => {

					window.scrollTo(0, 0);

					alertify.alert('Formulário de Edição de Perfil','O Formulário Contém Erros. Por Favor Reveja-o e Tente Novamente', 
						function() {
							instance.errors.record(errors.response.data);
						});
				});           

			},

			cancelEdit() {

				var instance = this;
				alertify.confirm("Sair do Formulário de Edição de Perfil", 
					"Tem a certeza que pretende cancelar a edição do seu perfil?<br>Nota: Todas as alterações já efetuadas serão perdidas!", 
					function(){ 
						instance.cancel = true;
						instance.newUser = new User();
						instance.toogleViews();}, 
						function(){   })
				.set('labels', {ok:'Sim', cancel:'Não'});
			},

			initDatepicker(){

				var maxDate = new Date();
				maxDate.setFullYear (maxDate.getFullYear() - 14);

				require('eonasdan-bootstrap-datetimepicker');
				var moment = require('moment');

				let initOptions = {

					format: 'DD/MM/YYYY',
					minDate: Date.parse('Jan 1, 1930'),
					maxDate: maxDate,
					viewMode: 'decades',
					useCurrent: false,
					locale: moment.locale('pt'),
					widgetPositioning:  {
						horizontal: 'auto',
						vertical: 'bottom'
					},

				}

				if(this.newUser.birthdate != null) {
					initOptions['defaultDate'] = this.newUser.birthdate;
				} 
				else {
					$('#birthdate').val('');
				}
				var instance = this;

				$(document).ready( function () {

					$('#birthdate').datetimepicker(initOptions);

					$('#birthdate').on('dp.change', function(e){
						instance.newUser.birthdate = e.date;
						instance.errors.clear('birthdate');
						instance.$forceUpdate();
					})

				})

			},

			initAlertify(){

				alertify.defaults.transition = "slide";
				alertify.defaults.theme.ok = "button is-primary is-large";
				alertify.defaults.theme.cancel = "button is-danger is-large";
				alertify.set('notifier', 'position', 'top-right');
				alertify.defaults.maintainFocus = false;
			},

			loadTextAreaAutoSize(){
				var autosize = require('autosize');
				autosize($('textarea'));
			},
		}

	}


</script>

<style>
	.control-text {
		margin-bottom: 0;
		padding-top: 7px;
	}


	textarea {
		margin-top: 10px;
		min-width: 100%;
		width: 100%;
		max-width: 100%;
		max-height: 500px;
	}

	#imageArea {

		margin-top:20px;

	}

	#editButton{
		float:right;
	}

</style>